body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1, h2, h3 {
	line-height: 1.2;
}

img {
	width: 100%;
}

a {
	color: #444;
}
a:hover {
	color: #000000;
}

.collapsibleTrigger {
	display: inline;
	font-size: 12px;
}
.collapsibleTrigger:hover {
	color: #000000;
	text-decoration: underline;
}
.collapsibleSection {
	padding: 0;
	margin: 0;
	display: block;
}